<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="shortcut icon" href="/assets/icon512_maskable.png" type="image/x-icon">
  <meta name="theme-color" content="#4682B4">
  <title> <%= title %> </title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
</head>